@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,500;0,700;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* body {
    font-size: 1.25rem;
} */

a.nav-link {
    color: #188A8A !important;
    font-weight: 500;
    margin: 0 1rem;
}

a:hover.nav-link {
    color: #105F5F !important;
}

.navbar-nav .nav-link.active {
    color: #105F5F !important;
}

.navbar-sticky {
    transform: translateY(0%);
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    opacity: 1;
    z-index: 1040;
    background-color: #FFF;
    height: 90px;
}

.logo-pel-header img {
    height: 3rem;
}

.logo-unam-header img,
.logo-cch-header img {
    height: 3rem;
    margin-left: 1.875rem;
}

.titulo-principal {
    font-size: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}


section.portada {
    background: #E2FAFA;
}

.portada-izq {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-portada {
    margin-top: 90px;
    z-index: 1;
}

.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: auto;
}

.portada-der {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.img-portada {
    height: 100%;
}

.cuadro1-portada {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: 0;
    margin-left: -150px;
}

.cuadro1 {
    height: 200px;
    width: 200px;
    background: #F87553;
}

.cuadro2-portada {
    position: absolute;
    top: 60%;
    right: 30%;
    z-index: 1;
    margin-left: -50px;
}

.cuadro2 {
    height: 100px;
    width: 100px;
    background: #FFC500;
}

.bloque-acerca {
    position: relative;
}

.bloque-acerca-izquierdo {
    position: relative;
}

.bloque-acerca-izquierdo img::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background: #FFC500;
    bottom: 0;
}

.cuadro-acerca {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.cuadro-amarillo {
    position: absolute;
    height: 100px;
    width: 100px;
    background: #FFC500;
    bottom: -50px;
    margin-left: -50px;
}

.cuadro-naranja {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #F87553;
    bottom: 50px;
    margin-left: 50px;
    z-index: 9;
}

.btn-green {
    color: #fff;
    background-color: #188A8A;
    border-color: #188A8A;
    padding: 0.8rem 2rem;
    font-weight: 500;
}

.btn-green:hover {
    color: #fff;
    background-color: #105F5F;
    border-color: #105F5F
}

.btn-check:focus+.btn-green,
.btn-green:focus {
    color: #fff;
    background-color: #105F5F;
    border-color: #105F5F;
    box-shadow: 0 0 0 0 rgba(16, 95, 95, 0.5)
}

.btn-check:checked+.btn-green,
.btn-check:active+.btn-green,
.btn-green:active,
.btn-green.active,
.show>.btn-green.dropdown-toggle {
    color: #fff !important;
    background-color: #105F5F !important;
    border-color: #105F5F !important
}

.btn-check:checked+.btn-green:focus,
.btn-check:active+.btn-green:focus,
.btn-green:active:focus,
.btn-green.active:focus,
.show>.btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(16, 95, 95, 0.5)
}

.btn-green:disabled,
.btn-green.disabled {
    color: #fff;
    background-color: #188A8A;
    border-color: #188A8A
}

.btn-orange {
    color: #fff;
    background-color: #F87553;
    border-color: #F87553;
    padding: 0.8rem 2rem;
    font-weight: 500;
}

.btn-orange:hover {
    color: #fff;
    background-color: #F53A0A;
    border-color: #F53A0A
}

.shape-bg {
    display: inline-block;
    background-image: url(../img/shape.svg);
    background-repeat: no-repeat;
    color: rgb(248, 117, 83);
    background-size: 100%;
    background-position: center bottom;
}

.bloque-acerca {
    padding: 100px 0;
}

.bloque-acerca-izquierdo img {
    border-radius: 15px;
}

.bloque-acerca-derecho {
    background: #FFFBEB;
    padding: 50px;
    border-radius: 15px;
}

h2.subtitulo {
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding-bottom: 1.875rem;
}

.numeralia {
    text-align: center;
    padding: 1.875rem 0;
}

.numero-grande {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.borde-numeralia {
    border-right: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
}


@media (max-width: 991.98px) {

    .header {
        margin-bottom: 90px;
    }

    .textos-portada {
        margin: 0;
        text-align: center;
    }

    .portada-izq {
        height: 50vh;
    }

    .img-portada {
        max-width: 100%;
        height: auto
    }

    .back.back-static {
        position: static;
        height: 50vh;
    }

    .titulo-principal {
        font-size: 3rem;
    }

    .cuadro1-portada,
    .cuadro2-portada {
        display: none;
    }
}